@use '../../../../styles/mixins' as *;

.root {
  background: var(--primary-color);
  width: 320px;
  padding: 50px 0px 0px 45px;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.navigation {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  display: flex;

  font-weight: 600;
  font-size: 16px;

  transition: color, background ease 0.3s;

  align-items: center;
  opacity: 1;
  gap: 12px;
  color: var(--grey-color);
  padding: 25px 30px;
  border-radius: 36px 0% 0% 36px;
  &.linkActive,
  &:hover {
    color: var(--primary-color);
    background: var(--grey-color);
  }
}

@include responsiveStyles(laptop, false) {
  .root {
    padding: 15px;
    width: 90px;
  }

  .logo {
    justify-content: center;
    span {
      display: none;
    }
  }

  .link {
    border-radius: 8px;
    padding: 5px;
    display: flex;
    justify-content: center;
    span {
      display: none !important;
    }
  }
}
@include responsiveStyles(tablet, false) {
  .root {
    display: none;
  }
}
