.form {
  height: 100%;
}

.questionColumn {
  background: linear-gradient(to top right, #9181ff, #5038ed);

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formColumn {
  padding: 20px;
}
