.form {
  height: 100%;
}

.questionColumn {
  background: linear-gradient(to top right, #9181ff, #5038ed);
  flex-direction: column;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.haveAccountQuestion {
  font-size: 26px;
  font-weight: 700;
  color: var(--white-color);
}

.formColumn {
  padding: 20px;
}

.formColumn input {
  background: pink;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.title {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
}

.signInButton {
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  background: var(--white-color);
  border-radius: var(--border-radius);

  color: var(--primary-color);

  &:hover {
    opacity: 0.8;
  }
}

.submit {
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  color: var(--white-color);
  border-radius: var(--border-radius);

  background: var(--primary-color);

  &:hover {
    opacity: 0.8;
  }
}
