.root {
  background: var(--grey-color);
  height: 100vh;
  display: flex;
}

.content {
  flex: 1 1 auto;

  position: relative;
  overflow: auto;

  padding: 20px;
  padding-top: 0px;
}

.inner {
  height: 6000px;
}
