.root {
  display: flex;
  height: 100vh;
  background: var(--grey-color);
  overflow: auto;
}

.content {
  flex: 1 1 auto;
  overflow: auto;
  position: relative;

  padding: 20px;
}

.inner {
  height: 6000px;
}
