.root {
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  // Sizes

  &.huge {
    height: 150px;
    width: 150px;
    font-size: 70px;
  }

  &.medium {
    height: 90px;
    width: 90px;
  }

  &.small {
    height: 50px;
    width: 50px;
  }
}
