.previewContent {
  display: flex;

  height: 100%;

  align-items: center;
  justify-content: center;
}

.previewAvatar {
  border-radius: 100%;
  overflow: hidden;
}

.editAvatarModalInner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}

.cropCanvas {
  position: relative;
  min-height: 200px;
  flex: 1 1 auto;
  width: 100%;
}
