.previewContent {
  display: flex;

  height: 100%;

  align-items: center;
  justify-content: center;
}

.previewAvatar {
  border-radius: 100%;
  background: var(--primary-color);
}

.cropCanvas {
  position: relative;
  height: 450px;
  width: 450px;
}
