@use '../../../../styles//mixins' as *;

.root {
  background: var(--grey-color);

  padding-top: 20px;

  position: sticky;
  top: 0;
  display: flex;
}

.logo {
  width: 320px;
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
  background: var(--primary-color);
}

.title {
  font-size: 24px;
  color: var(--primary-color);
  flex: 1 1 auto;
}

@include responsiveStyles(laptop, false) {
  .logo {
    width: 90px;

    span {
      display: none;
    }
  }
}

@include responsiveStyles(tablet, false) {
  .logo {
    background: transparent;
  }
}
