.root {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.save {
  display: flex;
  justify-content: flex-end;
}

.title {
  padding: 16px;
  border-bottom: var(--divider-line-border);
}

.subtitle {
  font-size: 13px;
}

.inner {
  padding: 16px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  flex: 1 1 auto;
}

.interestsModalInner {
  padding: 20px;
}

.interestsModalTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
.interestsModalSubtitle {
  font-size: 13px;
}
.interestsModalHeading {
  margin-bottom: 12px;
  text-align: center;
}
