@use '../../../../styles/mixins' as *;

.content {
  flex: 1 1 auto;

  position: relative;
  overflow: auto;

  padding: 20px;
  padding-top: 0px;

  display: flex;
  flex-direction: column;
}

.inner {
  padding-top: 20px;
  flex: 1 1 auto;
}

@include responsiveStyles(phone, false) {
  .content {
    padding: 10px;
    padding-top: 0px;
  }
}
