@use '../../../../styles/mixins' as *;

.content {
  flex: 1 1 auto;

  position: relative;
  overflow: auto;

  padding-top: 0px;

  display: flex;
  flex-direction: column;
}

.inner {
  flex: 1 1 auto;

  padding: 20px;
}

@include responsiveStyles(phone, false) {
  .inner {
    padding: 10px;
  }
}
