.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputContainer {
  background: #f4f0fe;
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 16px;
  cursor: text;
  display: flex;
  outline-width: 2px;
  outline-style: solid;
  outline-color: transparent;

  &:not(.hasError):has(input:focus)  {
    outline-color: var(--primary-color);
  }
  input {
    font-size: inherit;
    flex: 1 1 auto;
    background: transparent;
    height: 100%;
  }
  &.hasError {
    background: var(--error-color-soft);
    outline-color:var(--error-color) ;
  }
}

.label {
  width: fit-content;
}

.error {
  min-height: 1em;
  font-size: 12px;
  color: rgb(150, 5, 5);
}
