.root {
  padding: 20px;

  border-bottom: var(--divider-line-border);

  display: flex;
  align-items: center;

  transition: background 0.3s ease;

  &:hover {
    background: var(--grey-color-light);
  }
}

.preview {
  flex: 30% 0;
  display: flex;
  gap: 15px;
}

.unreadMessagesCount {
  color: var(--white-color);
  background: var(--orange-color);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
